.login-container {
  width: 380px;
  margin: 0px auto;
  position: relative;
  top: 200px;
  .login-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    left: 30px;
  }
}